CSE-221710304014-C.Tharun Kumar Reddy

In [0]:
#Chef has a string
#q1
def L(x):return x[1:]+x[0]
def R(x):return x[-1]+x[0:-1]
n=int(input())
list1=[input() for i in range(n)]
for x in list1:
    print("YES") if L(x)==R(x) else print('NO')

4
a
ab
abc
aaaaa
YES
YES
NO
YES

In [0]:
# Beautiful Days at the Movies
i,j,k = [int(x) for x in input().split()]
count=0
while i<=j:
    rev=int(str(i)[::-1])
    if (i-rev)%k==0:
        count+=1 
    i+=1
print(count)

20 23 6
2

In [0]:
#Birthday Cake Candles
input()
arr = input().split()
print(arr.count(max(arr)))

4
3 2 1 3
2

In [0]:
import itertools as it
a=list(map(str,input().split(',')))
p = it.permutations(a, len(a))
x = list(set(p))               
l = []
for i in x:                          
    p = ''.join(i)                   
    l.append(int(p))
l.sort()
print("output : ",str(l[-1])+','+str(len(l)))

1,2,1,4
output :  4211,12

In [0]:
#For a given positive number num,identify the palindrome formed by performing the following operations

n=int(input(""))
if(str(n)==str(n)[::-1]):
    print("palindrome")
else:
    rev=int(str(n)[::-1])
    s = n+rev
    print(s)

124
545

In [0]:
for i in range(int(input())):
    n,k = map(int,input().split())
    a = list(map(int,input().split()))
    c,x,i1,i2,b = 0,0,0,0,list()
    for j in range(n):
        c += 1
        if a[j] > k :
            x += 1
            if x == 1 :
                i1 = j
            else:
                if a[j] == a[i1]:
                    x -= 1
                else:i2 = j
        if x == 2 :
            x = 1
            b.append(c-1)
            c = i2-i1
            i1 = i2
            i2 = 0
        if j == n-1 and b == [ ]:b.append(n)
    print(max(b))

2
5 3
2 4 2 4 2
5
8 5
9 3 5 7 8 11 17 2
3

In [0]:
#xyz:750,abc:265,qwerty:195
s=input()
list1=s.split(",")
list2=[i.split(":")[1] for i in list1]
list3=[]
for num in list2:
    n=int(num)
    rev=num[::-1]
    while str(n)!=rev:
        n+=int(rev)
        rev=str(n)[::-1]
    list3.append(n)
list1[list3.index(max(list3))].split(":")[0]

xyz:750,abc:265,qwerty:195

'abc'

In [0]:
#The groups_per_user function receives a dictionary.which contains group names with the list of users.Users can belong to multiple groups.Return a dictionary with the users as keys and a list of their groups as values.

def groups_per_user(groups):
    usergroups = {}
    for group,users in groups.items():
        for user in users:
             usergroups[user] = usergroups.get(user,[]) + [group]

    return(usergroups)

print(groups_per_user({"local": ["admin", "userA"],
        "public":  ["admin", "userB"],
        "administrator": ["admin"] }))

{'admin': ['local', 'public', 'administrator'], 'userA': ['local'], 'userB': ['public']}

In [0]:
#Input : london 40000 12,chicago 60000 20,munich 50000 15,paris 70000 5
# Output : paris munich
s=input()
s1=s.split(',')
print(s1)
a={}
b={}
al=[]
bl=[]
for i in s1:
    a1=list(i.split())
    a[a1[0]]=int(a1[1])
    b[a1[0]]=int(a1[2])
a1 = sorted(a.items(), key=lambda x: x[1],reverse=True)
b1 = sorted(b.items(), key=lambda x: x[1])
for i in a1:
    al.append(i[0])
for i in b1:
    bl.append(i[0])
for i in range(0,len(a1)):
    if(al[i]==bl[i]):
        print(al[i],end=" ")

london 40000 12,chicago 60000 20,munich 50000 15,paris 70000 5
['london 40000 12', 'chicago 60000 20', 'munich 50000 15', 'paris 70000 5']
paris munich

In [3]:

#Jug Filling Problem
#Problem statement: “Given two empty jugs with 3 and 5 liter capacities and a full jug with 8 liters, find a sequence of pours leaving four liters in the two largest jugs.”

cap = (8,5,3)
x = cap[0]
y = cap[1]
z = cap[2]
memory = {}
answer = []

def get_all_states(state):
  a = state[0]
  b = state[1]
  c = state[2]

  if(a==4 and b==4):
      answer.append(state)
      return True

  if((a,b,c) in memory):
      return False

  memory[(a,b,c)] = 1
  if(a>0):
      if(a+b<=y):
          if( get_all_states((0,a+b,c)) ):
              answer.append(state)
              return True
      else:
          if( get_all_states((a-(y-b), y, c)) ):
              answer.append(state)
              return True
      if(a+c<=z):
          if( get_all_states((0,b,a+c)) ):
              answer.append(state)
              return True
      else:
          if( get_all_states((a-(z-c), b, z)) ):
              answer.append(state)
              return True
  if(b>0):
      if(a+b<=x):
          if( get_all_states((a+b, 0, c)) ):
              ans.append(state)
              return True
      else:
          if( get_all_states((x, b-(x-a), c)) ):
              answer.append(state)
              return True
      if(b+c<=z):
          if( get_all_states((a, 0, b+c)) ):
              answer.append(state)
              return True
      else:
          if( get_all_states((a, b-(z-c), z)) ):
              answer.append(state)
              return True
  if(c>0):
      if(a+c<=x):
          if( get_all_states((a+c, b, 0)) ):
              ans.append(state)
              return True
      else:
          if( get_all_states((x, b, c-(x-a))) ):
              answer.append(state)
              return True
      if(b+c<=y):
          if( get_all_states((a, b+c, 0)) ):
              answer.append(state)
              return True
      else:
          if( get_all_states((a, y, c-(y-b))) ):
              answer.append(state)
              return True

  return False

initial_state = (8,0,0)
get_all_states(initial_state)
answer.reverse()
print(answer)
print(len(answer))

[(8, 0, 0), (3, 5, 0), (5, 0, 3), (5, 3, 0), (2, 3, 3), (7, 0, 1), (7, 1, 0), (4, 1, 3), (4, 4, 0)]
9

In [2]:

# user_id = [1,1,2,3,3,4,4,4,5,5]
#ancestry=["England","Ireland","France","Germany","Poland","England","France","Germany","France","Germany"]
#If my required countries are France and Germany
# required = ['France', 'Germany']
user_id=[1,1,2,3,3,4,4,4,5,5]
user=list(set(user_id))
ancestry=["England","Ireland","France","Germany","Poland","England","France","Germany","France","Germany"]
r={}
for i in range (0,len(user_id)):
    if(user_id[i] not in r.keys()):
        r[user_id[i]]=[]
        r[user_id[i]].append(ancestry[i])
    else:
        r[user_id[i]].append(ancestry[i])
required=['France','Germany']
for i in range(0,len(user)):
    if(set(required).issubset(set(r[user[i]]))):
        print(user[i])

4
5